html {
    font-size: 10px;
}

body {
    background: #eaecee;
    margin: 0;
    color: #3b3a3c;
    font-size: 1.6rem;
    font-family: arial,helvetica,sans-serif;
}

a {
    color: #004B91;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.wrapper {
    box-sizing: border-box;
    padding: 2rem 20px;
    max-width: 640px;
    margin: 0 auto;
}

.branding-header {
    background: #6a148e;
    color: #fff;
    font-weight: bold;
}

.logo {
    margin: 0;
    background: transparent url('../../images/logo.svg') no-repeat 0 0;
    background-size: contain;
    text-indent: -200px;
    font-size: 2rem;
}

.main-nav__list {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    display: flex;
}

.main-nav__item {
    flex-grow: 1;
    display: inline-block;
    text-align: center;

    a {
        display: block;
        color: #fff;
        font-weight: normal;
        padding: 1rem 0;

        &:hover,
        &:focus {
            background: #5A0C7B;
            border-radius: 400px;
            text-decoration: none;
        }
    }
}

.accordion {
    list-style: none;
    padding: 0;
}

.accordion__trigger button {
    border: 0;
    background: transparent;
    font-size: inherit;
    padding: 0 15px;
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
    text-align: left;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: "-";
        font-size: 2rem;
        line-height: 1;

        .accordion__item[data-open='false'] & {
            content: "+";
        }
    }
}

.accordion__content {
    .accordion__item[data-open='false'] & {
        height: 0;
        overflow: hidden;
    }
}

.page-footer {
    background: #f4f4f4;
}

.sub-nav {
    margin-bottom: 2rem;
}
.sub-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-nav__item {
    margin-bottom: 1rem;
    display: block;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        flex: 0 0 33%;
    }

    a {
        display: block;
        padding: 0.2rem 0;
    }
}

.legal-nav {
    background: #6a148e;
    font-size: 1.4rem;
}

.legal-nav__list {
    list-style: none;
}

.legal-nav__item {
    display: inline-block;
    border-left: 1px solid #fff;

    &:first-child {
        border-left: 0;
        margin-left: -5px;
    }

    a {
        color: #fff;
        padding: 0.5rem 5px;
        display: block;
    }
}

